<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<variable name="LOG_DIR" value="/tmp" />
	<variable name="LOG_PATTERN_SIMPLE" value="%d %5p - %m%n" />
	<variable name="LOG_PATTERN_DETAILED" value="%d %5p %c{1}.%M:%L - %m%n" />
	<variable name="LOG_SIZE_MAX" value="1MB" />
	
	<variable name="ROOT_LOG" value="${LOG_DIR}/mystamps-root.log" />
	<variable name="SPRING_LOG" value="${LOG_DIR}/mystamps-spring.log" />
	<variable name="HIBERNATE_LOG" value="${LOG_DIR}/mystamps-hibernate.log" />
	<variable name="MYSTAMPS_LOG" value="${LOG_DIR}/mystamps.log" />
	
	<appender name="spring-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${SPRING_LOG}</File>
		<encoder>
			<pattern>${LOG_PATTERN_SIMPLE}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>1</maxIndex>
			<FileNamePattern>${SPRING_LOG}.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>${LOG_SIZE_MAX}</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="hibernate-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${HIBERNATE_LOG}</File>
		<encoder>
			<pattern>${LOG_PATTERN_SIMPLE}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>1</maxIndex>
			<FileNamePattern>${HIBERNATE_LOG}.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>${LOG_SIZE_MAX}</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="mystamps-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${MYSTAMPS_LOG}</File>
		<encoder>
			<pattern>${LOG_PATTERN_DETAILED}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>1</maxIndex>
			<FileNamePattern>${MYSTAMPS_LOG}.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>${LOG_SIZE_MAX}</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<appender name="root-log" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${ROOT_LOG}</File>
		<encoder>
			<pattern>${LOG_PATTERN_SIMPLE}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>1</maxIndex>
			<FileNamePattern>${ROOT_LOG}.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>${LOG_SIZE_MAX}</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<logger name="org.springframework" additivity="false" level="WARN">
		<appender-ref ref="spring-log"/>
	</logger>
	
	<logger name="org.hibernate" additivity="false" level="WARN">
		<appender-ref ref="hibernate-log"/>
	</logger>
	
	<logger name="ru.mystamps" additivity="false" level="DEBUG">
		<appender-ref ref="mystamps-log"/>
	</logger>
	
	<root level="WARN">
		<appender-ref ref="root-log"/>
	</root>
	
</configuration>
